@model Test_Login.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "忘記密碼?";
}
<style>
    div {
    }
</style>
<h2 class="text-center">@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "position-absolute-center", role = "form", @style = "margin-bottom:30px;" }))
{
    @Html.AntiForgeryToken()
    <h4 class="text-center ">輸入您的電子郵件。</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group text-center " style="width:600px;">
        @Html.LabelFor(m => m.Email, new { @class = "col-md control-label" })
        <div class="col-md align-items-center ">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group  text-center">
        <div class="col-md-offset-2 col-md ">
            <input type="submit" class="btn btn-primary" value="以電子郵件傳送連結" />
        </div>
    </div>
}
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
