@using Test_Login.Models
@model LoginViewModel
@{
    ViewBag.Title = "登入";
}


<br />
<br />

<div class=" container"  >
    <div class="row justify-content-center">
        <div class="col-md-7 ">
            <div class="flex-wrap row justify-content-center " style="box-shadow: 0 10px 34px -15px rgb(0 0 0 / 75%); height: 600px;">
                <section id="loginForm" style="width:400px" class="">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = " justify-content-center", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row justify-content-center">
                            <div class="  text-center">
                                <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                                    Testttttttttttttt
                                </small>
                                <h2>登入</h2>
                            </div>
                        </div>

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })

                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })

                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-checkbox" })
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                            <div class="text-uppercase justify-content-center ">
                                <p class="justify-content-center">
                                    @Html.ActionLink("註冊新帳號", "Register", "Account", htmlAttributes: new { @class = "  text-black", @style = "width:200px" })
                                </p>
                                @*//只要您的密碼重設功能能夠進行帳戶確認，就啟用此項*@
                                <p>
                                    @Html.ActionLink("忘記密碼?", "ForgotPassword", "Account", htmlAttributes: new { @class = "  text-blue", @style = "width:200px" })
                                </p>
                            </div>
                        </div>



                        <div class="form-group text-center">
                            <div class="col-md-offset col-md">
                                <input type="submit" value="登入" class="btn btn-outline-primary"  style="width:400px" />
                            </div>
                        </div>


                    }

                        <section id="socialLoginForm" class="">
                            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        </section>

                </section>
            </div>
        </div>

    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}