@model Test_Login.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<br />
<br />

<div class="container animated fadeInUp slow">
    <div class=" row justify-content-center" >
        <div class="col-md-7">
            <div class="flex-wrap row justify-content-center" style="box-shadow: 0 10px 34px -15px rgb(0 0 0 / 75%); height: 700px; ">
                <section style="width: 400px; padding-top: 30px;">

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "justify-content-center", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row justify-content-center">
                            <div class="  text-center">
                                <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">

                                </small>
                                <h2 class="alert alert-info">註冊新帳號</h2>
                            </div>
                        </div>

                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = " control-label" })

                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.NickName, new { @class = " control-label" })

                            @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = " control-label" })

                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = " control-label" })

                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                        </div>
                        <br />
                        <br />
                        <div class="form-group text-center">
                            <div class="col-md-offset ">
                                <input type="submit" class="btn btn-outline-primary" value="註冊" style="width:400px" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
