@model IEnumerable<Test_Login.Models.stockPrice>

@{
    ViewBag.Title = "自訂策略";
}
<style type="text/css">
    .stockCustomize {
        text-align: center;
    }
</style>

<h2 class="nav justify-content-lg-center">自訂策略</h2>
<br />
<br />

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">基本面</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">技術面</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">籌碼面</a>
    </li>
</ul>

@*基本面*@
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="accordion" id="accordionExample">
            @*[card] in*@
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            營收
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class=" collapse show alert-danger" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        @*[form] in*@
                        <form method="post" action="/stocks/Customize">
                            <div class="stockCustomize">
                                <input name="selectDate" type="date" />
                                <select name="priceType">
                                    <option>開盤價</option>
                                    <option>最高價</option>
                                    <option>最低價</option>
                                    <option>收盤價</option>
                                </select>
                                從<input type="text" name="minValue" value="@(ViewBag.minValue ?? string.Empty)" />
                                到<input type="text" name="maxValue" value="@(ViewBag.maxValue ?? string.Empty)" />
                                <button type="submit">送出</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @*[card] in*@
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            EPS
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        @*[checkbox] [form] in*@
                        <form method="post" action="/stocks/Customize">
                            <div class="stockCustomize">
                                <input name="selectDate" type="date" />
                                <select name="priceType">
                                    <option>開盤價</option>
                                    <option>最高價</option>
                                    <option>最低價</option>
                                    <option>收盤價</option>
                                </select>
                                從<input type="text" name="minValue" />
                                到<input type="text" name="maxValue" />
                                <button type="submit">送出</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @*[card] in*@
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            股利、股本、殖利率
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        @*[form] in*@
                        <form method="post" action="/stocks/Customize">
                            <div class="stockCustomize">
                                <input name="selectDate" type="date" />
                                <select name="priceType">
                                    <option>開盤價</option>
                                    <option>最高價</option>
                                    <option>最低價</option>
                                    <option>收盤價</option>
                                </select>
                                從<input type="text" name="minValue" />
                                到<input type="text" name="maxValue" />
                                <button type="submit">送出</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @*[card] in*@
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            本益比、毛利率、類別
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        @*[form] in*@
                        <label>
                            <input type="checkbox" name="factor1" />&nbsp
                            <input name="selectDate" type="date" />&nbsp
                            <select name="priceType">
                                &nbsp
                                <option>開盤價</option>
                                <option>最高價</option>
                                <option>最低價</option>
                                <option>收盤價</option>
                            </select>&nbsp
                            從 <input type="text" name="minValue" />&nbsp
                            到 <input type="text" name="maxValue" />
                        </label>
                        <br />
                        <label>
                            <input type="checkbox" name="factor2" />&nbsp
                            <input name="selectDate" type="date" />&nbsp
                            <select name="priceType">
                                &nbsp
                                <option>開盤價</option>
                                <option>最高價</option>
                                <option>最低價</option>
                                <option>收盤價</option>
                            </select>&nbsp
                            從 <input type="text" name="minValue" />&nbsp
                            到 <input type="text" name="maxValue" />
                        </label>
                        <br />
                        <label>
                            <input type="checkbox" name="factor3" />&nbsp
                            <input name="selectDate" type="date" />&nbsp
                            <select name="priceType">
                                &nbsp
                                <option>開盤價</option>
                                <option>最高價</option>
                                <option>最低價</option>
                                <option>收盤價</option>
                            </select>&nbsp
                            從 <input type="text" name="minValue" />&nbsp
                            到 <input type="text" name="maxValue" />
                        </label>
                        <br />
                        <label>
                            <input type="checkbox" name="factor4" />&nbsp
                            <input name="selectDate" type="date" />&nbsp
                            <select name="priceType">
                                &nbsp
                                <option>開盤價</option>
                                <option>最高價</option>
                                <option>最低價</option>
                                <option>收盤價</option>
                            </select>&nbsp
                            從 <input type="text" name="minValue" />&nbsp
                            到 <input type="text" name="maxValue" />
                        </label>
                    </div>
                </div>
            </div>
            @*[card] in*@
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            @*[Title] in*@
                            股東權益報酬率、資產報酬率、負債比率、本業收入、利息保障
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        @*[form] in*@

                    </div>
                </div>
            </div>
            @*[card] in*@
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            @*[Title] in*@
                            財報
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        @*[form] in*@

                    </div>
                </div>
            </div>
            @*[card] in*@
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            @*[Title] in*@
                            營業利率、稅後淨利率、股價淨值比
                        </button>
                    </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">
                        @*[form] in*@

                    </div>
                </div>
            </div>
            @*[card] in*@
            <div class="card">
                <div class="card-header" id="headingEight">
                    <h2 class="mb-0">
                        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            @*[Title] in*@
                            流動比率、速動比率、價值估算、合約負債
                        </button>
                    </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                    <div class="card-body">
                        @*[form] in*@

                    </div>
                </div>
            </div>
            @*[card] in*@
            <div class="card">
                <div class="card-header" id="headingNine">
                    <h2 class="mb-0">
                        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            @*[Title] in*@
                            可轉換公司債、波動率、Beta
                        </button>
                    </h2>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                    <div class="card-body">
                        @*[form] in*@

                    </div>
                </div>
            </div>
            @*[card] in*@
            <div class="card">
                <div class="card-header" id="headingTen">
                    <h2 class="mb-0">
                        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            @*[Title] in*@
                            ETF、自選股、期貨
                        </button>
                    </h2>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                    <div class="card-body">
                        @*[form] in*@

                    </div>
                </div>
            </div>
        </div>
    </div>

    @*技術面*@
<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="tech_headingOne">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#tech_collapseOne" aria-expanded="true" aria-controls="tech_collapseOne">
                    KDJ
                </button>
            </h2>
        </div>

        <div id="tech_collapseOne" class=" collapse show alert-danger" aria-labelledby="tech_headingOne" data-parent="#accordionExample">
            <div class="card-body">
                @*[form] in*@
                
            </div>
        </div>
    </div>
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="tech_headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#tech_collapseTwo" aria-expanded="false" aria-controls="tech_collapseTwo">
                    MACD
                </button>
            </h2>
        </div>
        <div id="tech_collapseTwo" class="collapse" aria-labelledby="tech_headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                @*[checkbox] [form] in*@
                
            </div>
        </div>
    </div>
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="tech_headingThree">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#tech_collapseThree" aria-expanded="false" aria-controls="tech_collapseThree">
                    均線
                </button>
            </h2>
        </div>
        <div id="tech_collapseThree" class="collapse" aria-labelledby="tech_headingThree" data-parent="#accordionExample">
            <div class="card-body">
                @*[form] in*@
                
            </div>
        </div>
    </div>
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="tech_headingFour">
            <h2 class="mb-0">
                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#tech_collapseFour" aria-expanded="false" aria-controls="tech_collapseFour">
                    K線
                </button>
            </h2>
        </div>
        <div id="tech_collapseFour" class="collapse" aria-labelledby="tech_headingFour" data-parent="#accordionExample">
            <div class="card-body">
                @*[form] in*@
                
            </div>
        </div>
    </div>
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="tech_headingFive">
            <h2 class="mb-0">
                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#tech_collapseFive" aria-expanded="false" aria-controls="tech_collapseFive">
                    @*[Title] in*@
                    成交量
                </button>
            </h2>
        </div>
        <div id="tech_collapseFive" class="collapse" aria-labelledby="tech_headingFive" data-parent="#accordionExample">
            <div class="card-body">
                @*[form] in*@

            </div>
        </div>
    </div>
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="tech_headingSix">
            <h2 class="mb-0">
                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#tech_collapseSix" aria-expanded="false" aria-controls="tech_collapseSix">
                    @*[Title] in*@
                    RSI、威廉指標
                </button>
            </h2>
        </div>
        <div id="tech_collapseSix" class="collapse" aria-labelledby="tech_headingSix" data-parent="#accordionExample">
            <div class="card-body">
                @*[form] in*@

            </div>
        </div>
    </div>
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="tech_headingSeven">
            <h2 class="mb-0">
                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#tech_collapseSeven" aria-expanded="false" aria-controls="tech_collapseSeven">
                    @*[Title] in*@
                    股價、大盤
                </button>
            </h2>
        </div>
        <div id="tech_collapseSeven" class="collapse" aria-labelledby="tech_headingSeven" data-parent="#accordionExample">
            <div class="card-body">
                @*[form] in*@

            </div>
        </div>
    </div>
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="tech_headingEight">
            <h2 class="mb-0">
                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#tech_collapseEight" aria-expanded="false" aria-controls="tech_collapseEight">
                    @*[Title] in*@
                    糾結線、布林通道、肯特納通道
                </button>
            </h2>
        </div>
        <div id="tech_collapseEight" class="collapse" aria-labelledby="tech_headingEight" data-parent="#accordionExample">
            <div class="card-body">
                @*[form] in*@

            </div>
        </div>
    </div>
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="tech_headingNine">
            <h2 class="mb-0">
                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#tech_collapseNine" aria-expanded="false" aria-controls="tech_collapseNine">
                    @*[Title] in*@
                    PSY、乖離率、RS、樂活、CCI
                </button>
            </h2>
        </div>
        <div id="tech_collapseNine" class="collapse" aria-labelledby="tech_headingNine" data-parent="#accordionExample">
            <div class="card-body">
                @*[form] in*@

            </div>
        </div>
    </div>
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="tech_headingTen">
            <h2 class="mb-0">
                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#tech_collapseTen" aria-expanded="false" aria-controls="tech_collapseTen">
                    @*[Title] in*@
                    SAR、OBV、DMI
                </button>
            </h2>
        </div>
        <div id="tech_collapseTen" class="collapse" aria-labelledby="tech_headingTen" data-parent="#accordionExample">
            <div class="card-body">
                @*[form] in*@

            </div>
        </div>
    </div>
</div>

    @*籌碼面*@
<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="chip_headingOne">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#chip_collapseOne" aria-expanded="true" aria-controls="chip_collapseOne">
                    融資、融券
                </button>
            </h2>
        </div>

        <div id="chip_collapseOne" class=" collapse show alert-danger" aria-labelledby="chip_headingOne" data-parent="#accordionExample">
            <div class="card-body">
                @*[form] in*@
                
            </div>
        </div>
    </div>
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="chip_headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#chip_collapseTwo" aria-expanded="false" aria-controls="chip_collapseTwo">
                    三大法人
                </button>
            </h2>
        </div>
        <div id="chip_collapseTwo" class="collapse" aria-labelledby="chip_headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                @*[checkbox] [form] in*@
                
            </div>
        </div>
    </div>
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="chip_headingThree">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#chip_collapseThree" aria-expanded="false" aria-controls="chip_collapseThree">
                     主力、中實戶、券商
                </button>
            </h2>
        </div>
        <div id="chip_collapseThree" class="collapse" aria-labelledby="chip_headingThree" data-parent="#accordionExample">
            <div class="card-body">
                @*[form] in*@
                
            </div>
        </div>
    </div>
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="chip_headingFour">
            <h2 class="mb-0">
                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#chip_collapseFour" aria-expanded="false" aria-controls="chip_collapseFour">
                    大戶、散戶＜多方＞
                </button>
            </h2>
        </div>
        <div id="chip_collapseFour" class="collapse" aria-labelledby="chip_headingFour" data-parent="#accordionExample">
            <div class="card-body">
                @*[form] in*@
                
            </div>
        </div>
    </div>
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="chip_headingFive">
            <h2 class="mb-0">
                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#chip_collapseFive" aria-expanded="false" aria-controls="chip_collapseFive">
                    @*[Title] in*@
                    大戶、散戶＜空方＞
                </button>
            </h2>
        </div>
        <div id="chip_collapseFive" class="collapse" aria-labelledby="chip_headingFive" data-parent="#accordionExample">
            <div class="card-body">
                @*[form] in*@

            </div>
        </div>
    </div>
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="chip_headingSix">
            <h2 class="mb-0">
                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#chip_collapseSix" aria-expanded="false" aria-controls="chip_collapseSix">
                    @*[Title] in*@
                    買賣家數差、籌碼集中度、周轉率、券資比
                </button>
            </h2>
        </div>
        <div id="chip_collapseSix" class="collapse" aria-labelledby="chip_headingSix" data-parent="#accordionExample">
            <div class="card-body">
                @*[form] in*@

            </div>
        </div>
    </div>
    @*[card] in*@
    <div class="card">
        <div class="card-header" id="chip_headingSeven">
            <h2 class="mb-0">
                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#chip_collapseSeven" aria-expanded="false" aria-controls="chip_collapseSeven">
                    @*[Title] in*@
                    八大官股、當沖率、董監事
                </button>
            </h2>
        </div>
        <div id="chip_collapseSeven" class="collapse" aria-labelledby="chip_headingSeven" data-parent="#accordionExample">
            <div class="card-body">
                @*[form] in*@

            </div>
        </div>
    </div>
    
</div>
</div>

<!--<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    基本面
                </button>
            </h2>
        </div>

        <div id="collapseOne" class=" collapse show alert-danger" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">-->
                @*[form] in*@
                <!--<form method="post" action="/stocks/Customize">
                    <div class="stockCustomize">
                        <input name="selectDate" type="date" />
                        <select name="priceType">
                            <option>開盤價</option>
                            <option>最高價</option>
                            <option>最低價</option>
                            <option>收盤價</option>
                        </select>
                        從<input type="text" name="minValue" value="@(ViewBag.minValue ?? string.Empty)" />
                        到<input type="text" name="maxValue" value="@(ViewBag.maxValue ?? string.Empty)" />
                        <button type="submit">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    技術面
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">-->
                @*[checkbox] [form] in*@
                <!--<form method="post" action="/stocks/Customize">
                    <div class="stockCustomize">
                        <input name="selectDate" type="date" />
                        <select name="priceType">
                            <option>開盤價</option>
                            <option>最高價</option>
                            <option>最低價</option>
                            <option>收盤價</option>
                        </select>
                        從<input type="text" name="minValue" />
                        到<input type="text" name="maxValue" />
                        <button type="submit">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    籌碼面
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">-->
                @*[form] in*@
                <!--<form method="post" action="/stocks/Customize">
                    <div class="stockCustomize">
                        <input name="selectDate" type="date" />
                        <select name="priceType">
                            <option>開盤價</option>
                            <option>最高價</option>
                            <option>最低價</option>
                            <option>收盤價</option>
                        </select>
                        從<input type="text" name="minValue" />
                        到<input type="text" name="maxValue" />
                        <button type="submit">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    測試區
                </button>
            </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">-->
                @*[form] in*@
                <!--<label>
                    <input type="checkbox" name="factor1" />&nbsp
                    <input name="selectDate" type="date" />&nbsp
                    <select name="priceType">
                        &nbsp
                        <option>開盤價</option>
                        <option>最高價</option>
                        <option>最低價</option>
                        <option>收盤價</option>
                    </select>&nbsp
                    從 <input type="text" name="minValue" />&nbsp
                    到 <input type="text" name="maxValue" />
                </label>
                <br />
                <label>
                    <input type="checkbox" name="factor2" />&nbsp
                    <input name="selectDate" type="date" />&nbsp
                    <select name="priceType">
                        &nbsp
                        <option>開盤價</option>
                        <option>最高價</option>
                        <option>最低價</option>
                        <option>收盤價</option>
                    </select>&nbsp
                    從 <input type="text" name="minValue" />&nbsp
                    到 <input type="text" name="maxValue" />
                </label>
                <br />
                <label>
                    <input type="checkbox" name="factor3" />&nbsp
                    <input name="selectDate" type="date" />&nbsp
                    <select name="priceType">
                        &nbsp
                        <option>開盤價</option>
                        <option>最高價</option>
                        <option>最低價</option>
                        <option>收盤價</option>
                    </select>&nbsp
                    從 <input type="text" name="minValue" />&nbsp
                    到 <input type="text" name="maxValue" />
                </label>
                <br />
                <label>
                    <input type="checkbox" name="factor4" />&nbsp
                    <input name="selectDate" type="date" />&nbsp
                    <select name="priceType">
                        &nbsp
                        <option>開盤價</option>
                        <option>最高價</option>
                        <option>最低價</option>
                        <option>收盤價</option>
                    </select>&nbsp
                    從 <input type="text" name="minValue" />&nbsp
                    到 <input type="text" name="maxValue" />
                </label>
            </div>
        </div>
    </div>
</div>-->

<div id="stockInfo">
    @{
        if (Model != null)
        {

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>股票名稱</th>
                        <th colspan="5" style="text-align:center;">今日資訊</th>
                    </tr>
                    <tr>
                        <th scope="col">股票代號</th>
                        <th scope="col">收盤價</th>
                        <th scope="col">漲跌</th>
                        <th scope="col">漲跌%</th>
                        <th scope="col">成交量</th>
                        <th scope="col">本益比</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (string s in Model.Select(x => x.stockID).Distinct().ToList())
                        {
                            // stockDate should use current datetime
                            var item = Model.Where(x => x.stockID == s && x.stockDate == ViewBag.date1).ToList()[0];
                            <tr>
                                <td>
                                    <input class="stockName" type="button" value="@item.stockName" onclick="location.href='@Url.Action(s, "stocks/chart")'" /><br />
                                    <input class="stockName" type="button" value="@item.stockID" onclick="location.href='@Url.Action(s, "stocks/chart")'" />
                                </td>
                                <td>@Html.Encode(item.endPrice)</td>
                                @*<td>@Html.Encode(item.upDowmPrice)</td>
                                    @{ float ratio = float.Parse(item.upDowmPrice) / float.Parse(item.openPrice);}*@
                                @*<td>@ratio </td>*@
                                <td>@Html.Encode(item.numOfSharesTrade)</td>
                                @*<td>@Html.Encode(item.PER)</td>*@
                            </tr>
                        }
                    }

                </tbody>
            </table>
        }

    }
</div>
