@model IEnumerable<Test_Login.Models.stockPrice>

@{
    ViewBag.Title = ViewBag.id;
}

<style>
    .strategyButton {
        width: 300px;
        height: 105px;
        text-align: center;
        margin: -1px;
        padding: 0px;
        border: 0px;
        font-size: 20px;
        z-index: 3;
    }

    .buttonText {
        margin: -10px;
        position: relative;
    }

    .strategyDiv {
        width: 300px;
        height: 120px;
        padding: 0px;
        margin: 10px;
        z-index: 2;
    }

    .formStrategy {
        text-align: center;
        width: 60%;
    }

    .stockName {
        width: 120px;
        text-align: center;
        margin-bottom:5px;
    }

    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .table td {
        text-align: center;
    }

    .table th {
        text-align: center;
    }

    #stockInfo {
        text-align: center;
    }
</style>

<h2 class="nav justify-content-center">常用策略</h2>
<br />
<br />
<p>
    @ViewBag.stringID
</p>

<div class="formStrategy mx-auto">
    <form method="post">

        <div class=" alert alert-danger alert-dismissible fade show">
            <h3>利多</h3>

        </div>
        <div>
            <div class="positiveStrategy">

                <button class="btn btn-outline-danger  strategyDiv" value="成交爆大量" name="str">
                    <h3><b>成交爆大量</b></h3>
                    <span class="buttonText">成交量大於5日均量</span>
                </button>

                <button class="btn btn-outline-danger  strategyDiv" value="四海遊龍" name="str">
                    <h3><b>四海遊龍</b></h3>
                    <span class="buttonText">四海遊龍 skr skr</span>
                </button>
                <button class="btn btn-outline-danger  strategyDiv" value="外資連買" name="str">
                    <h3><b>外資連買</b></h3>
                    <span class="buttonText">外資連買?天</span>
                </button>
                <button class="btn btn-outline-danger  strategyDiv" value="投信連買" name="str">
                    <h3><b>投信連買</b></h3>
                    <span class="buttonText">投信連買?天</span>
                </button>
                <button class="btn btn-outline-danger  strategyDiv" value="KD黃金交叉" name="str">
                    <h3><b>KD黃金交叉</b></h3>
                    <span class="buttonText">k線和d線交叉</span>
                </button>
                <button class="btn btn-outline-danger  strategyDiv" value="EPS創新高" name="str">
                    <h3><b>EPS創新高</b></h3>
                    <span class="buttonText">營收創高</span>
                </button>
                <button class="btn btn-outline-danger  strategyDiv" value="營收由虧轉盈" name="str">
                    <h3><b>營收由虧轉盈</b></h3>
                    <span class="buttonText">收益轉正成長</span>
                </button>
                <button class="btn btn-outline-danger  strategyDiv" value="強勢股票" name="str">
                    <h3><b>強勢股票</b></h3>
                    <span class="buttonText">漲很兇</span>
                </button>




                <div class="negativeStrategy">
                    <div class="alert alert-primary">
                        <h3>利空</h3>
                    </div>


                    <button class="btn btn-outline-primary  strategyDiv" value="弱勢股票" name="str">
                        <h3><b>弱勢股票</b></h3>
                        <span class="buttonText">止跌部漲 嫩</span>
                    </button>

                    <button class="btn btn-outline-primary  strategyDiv" value="外資連賣" name="str">
                        <h3><b>外資連賣</b></h3>
                        <span class="buttonText">外資連續?天賣超</span>
                    </button>


                    <button class="btn btn-outline-primary  strategyDiv" value="投信連賣" name="str">
                        <h3><b>投信連賣</b></h3>
                        <span class="buttonText">投信連續?天賣超</span>
                    </button>


                    <button class="btn btn-outline-primary  strategyDiv" value="KD死亡交叉" name="str">
                        <h3><b>KD死亡交叉</b></h3>
                        <span class="buttonText">k線低於d線</span>
                    </button>

                </div>
            </div>
        </div>
    </form>
</div>

<br />
<br />
<div id="stockInfo">
    @{
        if (Model != null)
        {

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>股票名稱</th>
                        <th colspan="7" style="text-align:center">今日資訊</th>
                        <th colspan="4" style="text-align:center">基本資料</th>
                        <th colspan="4" style="text-align:center">每股盈餘</th>
                        <th colspan="4" style="text-align:center">近一季獲利指標</th>
                    </tr>
                    <tr>
                        <th scope="col">股票代號</th>

                        <th scope="col">日期</th>
                        <th scope="col">收盤價</th>
                        <th scope="col">漲跌</th>
                        <th scope="col">漲跌%</th>
                        <th scope="col">成交量</th>
                        <th scope="col">本益比</th>
                        <th scope="col">股價淨值比</th>

                        <th scope="col">上市櫃</th>
                        <th scope="col"> 股票代號</th>
                        <th scope="col">產業</th>
                        <th scope="col">股本(億)</th>

                        <th scope="col">今年目前</th>
                        <th scope="col">近一年</th>
                        <th scope="col">近一季</th>
                        <th scope="col">近四季</th>

                        <th scope="col">毛利率(%)</th>
                        <th scope="col">營業收益率(%)</th>
                        <th scope="col">稅前純益率(&)</th>
                        <th scope="col">稅後純益率(%)</th>


                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (string s in Model.Select(x => x.stockID).Distinct().ToList())
                        {
                            // stockDate should use current datetime
                            var item = Model.Where(x => x.stockID == s).OrderByDescending(x =>x.stockDate).ToList()[0];
                            <tr>
                                <td class="">
                                    <input class="stockName btn btn-outline-info"  type="button"  value="@item.stockName" onclick="location.href='@Url.Action(s, "stocks/chart")'" /><br />
                                    <input class="stockName btn btn-outline-info" type="button"  value="@item.stockID" onclick="location.href='@Url.Action(s, "stocks/chart")'" />
                                </td>
                                <td>@item.stockDate</td>
                                <td>@item.endPrice</td>
                                @{ decimal upDown = decimal.Parse(item.endPrice) - decimal.Parse(item.openPrice);}
                                <td>@upDown</td>
                                @{ decimal upDownPercent = decimal.Round((upDown / decimal.Parse(item.endPrice)), 2);}
                                <td>@upDownPercent </td>
                                @{ int num = (int)item.numOfSharesTrade;
                                    string result = num.ToString("N0");}
                                <td>@result</td>

                          </tr>
                        }
                    }

                </tbody>
            </table>
        }

    }
</div>
