@model IEnumerable<Test_Login.Models.stockPrice>
@using Test_Login.Models
@using Microsoft.AspNet.Identity
@using Test_Login.Models.Extensions;
@*@{
        ViewBag.Title = ViewBag.id;
    }*@
@{
    Layout = "~/Views/Shared/_LayoutRight.cshtml";
}
<style>
    .strategyButton {
        width: 300px;
        height: 105px;
        text-align: center;
        margin: -1px;
        padding: 0px;
        border: 0px;
        font-size: 20px;
        z-index: 3;
    }

    .buttonText {
        margin: -10px;
        position: relative;
    }

    .strategyDiv {
        width: 350px;
        height: 120px;
        padding: 0px;
        margin: 10px;
        z-index: 2;
    }

    .formStrategy {
        text-align: center;
        width: 60%;
    }

    .stockName {
        width: 120px;
        text-align: center;
        margin-bottom: 5px;
    }

    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .table td {
        text-align: center;
    }

    .table th {
        text-align: center;
    }

    #stockInfo {
        text-align: center;
    }

    .search {
        position: relative;
        display: inline-block;
    }
</style>

<section class="section jarallax text-white" data-jarallax data-speed="0.5" style="padding-top:50px; padding-bottom:50PX;">
    <img class="section-background-image jarallax-img" src="~/img/pngtree-red-gold-stock.jpg" alt="background image" />
    <div class="section-background-color" style="background-color: rgba(0, 0, 0, 0.2)"></div>
    <div class="section-content container text-left  d-flex flex-column align-items-center">
        @*<span class="badge badge-pill badge-ghost fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
                Easy 3 steps online booking
            </span>*@
        <h1 class="nav justify-content-lg-center tracking-in-contract ">常用策略</h1>
    </div>
</section>
<div class="container">

    <nav>
        <nav class="navbar navbar-light bg-cyan-50 justify-content-center animated fadeInUp delay-1s">
            <h3 class="navbar-text">挖掘常用策略</h3>
        </nav>
    </nav>

</div>

<br />
<br />
@*<p>
        @ViewBag.stringID
    </p>*@





<div class="container animated fadeInUp delay-1s ">
    <div class=" justify-content-center text-center mx-auto ">
        <form method="post" class="justify-content-center" style="justify-content:center">


            <div class="btn-group">
                <!-- please note that data-target and data-toggle attributes are required -->
                <div class="radio-buttons-group" data-toggle="shuffle-grid" data-target="#projects-grid">
                    <button class="btn btn-light selected" data-value="all" style="font-size:20px;">All</button>
                    <button class="btn btn-light" data-value="buy" style="font-size:20px;">多方策略</button>
                    <button class="btn btn-light" data-value="sell" style="font-size:20px;">空方策略</button>
                </div>
            </div>
            <br /> <br /> <br />
                          <div class="shuffle-grid- shuffle-grid-gapshuffle-grid shuffle-grid shuffle-grid justify-content-center" id="projects-grid">

                              <button class="btn btn-outline-danger  strategyDiv shuffle-grid-item" data-groups="buy" value="成交爆大量" name="str" data-toggle="smooth-scroll" data-target="#selectReasult">
                                  <h3><b>成交爆大量</b></h3>
                                  <span class="buttonText">成交量大於5日均量</span>
                              </button>

                <button class="btn btn-outline-danger  strategyDiv shuffle-grid-item" data-groups="buy" value="成交爆大量" name="str" data-toggle="smooth-scroll" data-target="#selectReasult">
                    <h3><b>成交爆大量</b></h3>
                    <span class="buttonText">成交量大於5日均量</span>
                </button>
                @*<a href="#" data-toggle="smooth-scroll" data-target="#page-start-anchor">*@



                              <button class="btn btn-outline-danger  strategyDiv shuffle-grid-item" data-groups="buy" value="四海遊龍" name="str" @*data-toggle="smooth-scroll" data-target="#selectReasult"*@>
                                  <h3><b>四海遊龍</b></h3>
                                  <span class="buttonText">四海遊龍 </span>
                              </button>

                              <button class="btn btn-outline-danger  strategyDiv shuffle-grid-item" data-groups="buy" value="外資連買" name="str">
                                  <h3><b>外資連買</b></h3>
                                  <span class="buttonText">外資連續五日買超五百張(含)以上</span>
                              </button>

                              <button class="btn btn-outline-danger  strategyDiv shuffle-grid-item" data-groups="buy" value="投信連買" name="str">
                                  <h3><b>投信連買</b></h3>
                                  <span class="buttonText">投信連續五日賣超五百張(含)以上</span>
                              </button>

                              <button class="btn btn-outline-danger  strategyDiv shuffle-grid-item" data-groups="buy" value="外資投信同買" name="str">
                                  <h3><b>外資投信同買</b></h3>
                                  <span class="buttonText">前一日外資投信同買而且漲幅>2%</span>
                              </button>



                              <button class="btn btn-outline-primary  strategyDiv shuffle-grid-item" data-groups="sell" value="弱勢股票" name="str">
                                  <h3><b>弱勢股票</b></h3>
                                  <span class="buttonText">止跌部漲 </span>
                              </button>

                              <button class="btn btn-outline-primary  strategyDiv shuffle-grid-item" data-groups="sell" value="外資連賣" name="str">
                                  <h3><b>外資連賣</b></h3>
                                  <span class="buttonText">外資連續五日賣超一千張(含)以上</span>
                              </button>

                              <button class="btn btn-outline-primary  strategyDiv shuffle-grid-item" data-groups="sell" value="投信連賣" name="str">
                                  <h3><b>投信連賣</b></h3>
                                  <span class="buttonText">投信連續五日賣超五百張(含)以上</span>
                              </button>
                              @if (User.Identity.GetUserTier().ToLower() == "true")
                              {
                                  <a href="https://localhost:44327/stocks/Customize" class="btn btn-outline-warning  strategyDiv shuffle-grid-item align-items-center" data-groups="buy,sell" style="padding-top:30px;">
                                      <h3><b>想要挖掘更多股票嗎?</b></h3>
                                      <span class="buttonText">點擊了解更多</span>
                                  </a>
                              }
                              else
                              {
                                  <a href="https://localhost:44327/Manage/Pay" class="btn btn-outline-warning  strategyDiv shuffle-grid-item align-items-center" data-groups="buy,sell" style="padding-top:30px;">
                                      <h3><b>想要挖掘更多股票嗎?</b></h3>
                                      <span class="buttonText">點擊了解更多</span>
                                  </a>
                              }





                          </div>















            @*<div class=" alert alert-danger alert-dismissible fade show text-center">
                    <h3 class="text-center">挖掘多方股票</h3>
                </div>*@

            <div class="positiveStrategy">

            </div>


        </form>
    </div>



    <br />
    <br />
    <script src="/Scripts/jquery-3.4.1.js"></script>
    @*<script>
            console.log($)
            $('.btn').click(function () {
                alert($(this).val())
            })
        </script>*@

    @{
        if (@ViewBag.resultCount > -1)
        {
            <nav>
                <nav class="navbar navbar-light bg-light justify-content-center">
                    <h3 class="navbar-text">挖掘出了 @ViewBag.resultCount 筆資料</h3>
                </nav>
            </nav>
        }
    }
    <div id="selectReasult"></div>
    <div id="stockInfo">
        @{
            if (Model != null)
            {
                <table class="table table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="6" style="text-align:center">昨日資訊</th>
                            <th colspan="2" style="text-align:center">財務資訊</th>
                        </tr>

                        <tr>
                            <th scope="col">股票</th>
                            @*<th scope="col">日期</th>*@
                            <th scope="col">收盤價</th>
                            <th scope="col">漲跌</th>
                            <th scope="col">漲跌%</th>
                            <th scope="col">成交量(股數)</th>
                            <th scope="col">外資買賣超(股數)</th>
                            <th scope="col">投信買賣超(股數)</th>
                            <th scope="col">二月營收(仟元)</th>
                            <th scope="col">二月營收成長率(YOY)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            string[] globalCompany = ViewBag.globalCompany;
                            string[] investmentTrust = @ViewBag.investmentTrust;
                            string[] revenueFeb = @ViewBag.revenueFeb;
                            string[] revenueFebYoY = @ViewBag.revenueFebYoY;
                            int count = 0;
                        }
                        @{
                            foreach (string s in Model.Select(x => x.stockID).Distinct().ToList())
                            {
                                // stockDate should use current datetime
                                var item = Model.Where(x => x.stockID == s).OrderByDescending(x => x.stockDate).ToList()[0];
                                var item2 = Model.Where(x => x.stockID == s).OrderByDescending(x => x.stockDate).ToList()[1];
                                decimal upDown = decimal.Parse(item.endPrice) - decimal.Parse(item2.endPrice);
                                decimal upDownPercent = decimal.Round(decimal.Round((upDown / decimal.Parse(item2.endPrice)), 4) * 100, 2);
                                int num = (int)item.numOfSharesTrade;
                                string result = num.ToString("N0");
                                //string globalCompanyTostringN0 = Convert.ToInt32(globalCompany[count]).ToString("N0");
                                //string investmentTrustTostringN0 = Convert.ToInt32(investmentTrust[count]).ToString("N0");
                                //string revenueFebTostringN0 = Convert.ToInt32(revenueFeb[count]).ToString("N0");
                                <tr>
                                    <td class="">
                                        <input class="stockName btn btn-outline-info" style="padding:0px 3px; " type="button" value="@item.stockID @item.stockName" onclick="location.href='@Url.Action(s, "stocks/chart")'" />
                                    </td>
                                    @*<td>@item.stockDate</td>*@
                                    <td>@item.endPrice</td>
                                    <td>@upDown</td>
                                    <td>@upDownPercent </td>
                                    <td>@result</td>
                                    <td>@globalCompany[count]</td>
                                    <td>@investmentTrust[count]</td>
                                    <td>@revenueFeb[count]</td>
                                    <td>@revenueFebYoY[count]</td>
                                </tr>
                                count += 1;
                            }
                            count = 0;
                        }

                    </tbody>
                </table>
            }

        }
    </div>
</div>